.titles_hot {
	display: flex;
	align-items: center;
	padding: 10px 15px;
}
.list_titles_hot {
	display: flex;
	align-items: center;
	margin-bottom: 0px;

	padding-left: 0px;
}

.list_titles_hot li {
	list-style: none;

	margin-left: 12px;
	font-size: 13px;
}

.list_titles_hot strong {
	font-size: 18px;
	font-weight: 400;
}
