.header {
	margin-top: 20px;
	margin-bottom: 20px;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header h1 {
	font-size: 40px;
	font-weight: 600;
}

.header ul {
	list-style: none;
	margin-bottom: 0;

	display: flex;
	gap: 18px;
}

.header a {
	text-decoration: none;
	font-size: 17px;
	font-weight: 300;
}

.header button {
	margin-bottom: 6px;
	background: inherit;
	padding: 9px 15px;
	border: solid 1px #d4d4da;
	border-radius: 4px;
	font-size: 15px;
	text-decoration: none;
}

.header button:hover {
	margin-bottom: 6px;
	padding: 9px 15px;
	border: solid 1px #d4d4da;
	background: #d4d4dadc;
	border-radius: 4px;
	font-size: 15px;
	text-decoration: none;
}
