.container {
	display: flex;
	justify-content: space-between;
	align-items: center;

	max-width: 1200px;
	margin: 0 auto;
}

.first {
	display: flex;
	align-items: flex-start;
}

.first a {
	text-decoration: none;
	font-weight: 600;
	font-size: 18px;
	color: black;
}

.first span {
	margin: 0 7px;
	color: #d2d5d5;
}

.second {
	display: flex;
	justify-content: center;
	align-items: center;

	justify-content: flex-end;
}

.second ul {
	list-style: none;
	font-size: 14px;

	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 18px;
	margin: 0;
	padding: 5px;
}

.second a {
	text-decoration: none;
	font-weight: 300;
}

.second button {
	border: none;
	background: none;
	font-weight: 300;
}

.second span {
	color: #d2d5d5;
}
