.main_container {
	flex-shrink: 0;
	width: 32%;
	margin: 8px;
	padding: 0;
	font-size: 13px;
	line-height: 1.42857;
	color: #000;
}

.content_header {
	display: flex;
	align-items: center;
	gap: 4px;
}

.content_header_h2 {
	color: #1c1819;
	font-weight: 600;
	font-size: 18px;
	text-decoration: underline;
}

.content_header span {
	margin-left: 3px;
	color: #888b94;
	font-size: 11px;
	line-height: 1.42857;
}

.content_body {
}

.content_row {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.content_img {
	margin-right: 10px;
}

.content_img img {
	/* max-width: 100%; */
	border-radius: 4px;

	vertical-align: middle;
}

.content_descr {
	width: 100%;
}

.content_descr_title {
	display: block;
	margin-bottom: 5px;
}

.content_descr_txt {
	color: rgba(28, 24, 25, 0.6);
}

.link_list {
	margin-top: 20px;
	padding: 0;
}

.link_list li {
	display: block;
	margin: 0 0 15px;
}
